.vert{
  background-color: green;
}

.rouge{
  background-color: red;
}

.bleu{
  background-color: #819FF7;
}

.arrow{
  margin-left: 880px;
  margin-top: 50px;
  width: 15px;
  height: 15px;
}

.header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;

}

nav{
  margin-left: auto;
  margin-right: auto;
}
 nav ul{
   display:flex;
 }

ul li{
  width: 100px;
  list-style: none;
  background-color: grey;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  color: purple;
  font-family: fantasy;
}

h1{
  font-size: 40px;
  color: orange;
  font-family: fantasy;
  text-align: center;
  margin: 30px;
}

.compteur{
  font-size: 100px;
  color: black;
  text-align: center;
  border: 5px solid grey;


}

.lanceur{
  background-color: yellow;
  width: 100%;
  padding: 50px 0;
  text-align: center;
  font-size: 30px;
  border-radius: 50px;
}
.carte{
  border-style: solid;
  border-color: #CBCECE;
  border-width: 3px;
  border-radius: 10px;

}
#carte1 {
  margin-left: 50px;
  margin-right: 25px;
  padding: 90px;

}
#carte2 {
  margin-left: 25px;
  margin-right: 50px;
  padding: 90px;

}

.imgalien {
  height : 150px;
  width : auto;

}

.carte {
display: inline-flex;
}

.Titre {
  color: #A9E2F3;
}

.Texte{
  color: black;
  font-family: 'Oswald', sans-serif;
  margin-right: 40px;
  text-align: justify;
  font-size: 12px;
}

.bouton:hover {
  color: #D0A9F5;
  font-size: 20px;
  transition-duration: 0.5s;
}

.bouton{
  margin: 0px;
}

.flex{
  display: flex;
  width: 100%;
  padding: 200px 0;
  background-color: #819FF7;
}

.flex1{
  display: flex;
  width: 100%;
  padding: 200px 0;
  background-color: red;
}

.flex2{
  display: flex;
  width: 100%;
  padding: 200px 0;
  background-color: green;
}
.searchbox{
  padding:50px;
  text-align: right;
  margin-top: 20px;
  color: purple;
}

nav {
  background-image: url(../image/vert.png);
}

.logo{
  width: auto;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

.vaisseau{
  width: 200px;
  height: auto;
 transition-duration: 0.1s;

}
